

body {
  background-color: black;
  font-family: 'arcadeclassicregular', sans-serif;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#game {
  border: 1px dashed white;
  margin: auto;
  display: block;
}
