* {
  font-size: 30px;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'arcadeclassicregular', sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  font-size: 1.3em;
  margin: 30px 0 10px;
}

h2 {
  font-size: 1em;
  text-align: center;
  margin: 10px 0 20px;
}

#game {
  border: 1px solid white;
  margin: auto;
  display: block;
}

.side-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 768px;
  padding: 40px 20px; 
}

.instructions {
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-stats {
  justify-content: flex-start;
}

.yellow {
  color: #EFEA5A;
}
